<!DOCTYPE html>
<html>
<title>weFlex</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/landing.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h5 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    
    background-image: url("/static/images/home_office.jpg");
    min-height: 100%;
    background-position: center;
    background-size: cover;
    
}
</style>
<body>
<div class="bgimg w3-display-container w3-text-white">
  <div class="w3-display-middle w3-jumbo" id='title' style="opacity: 0.6;">
    <p style="color:black; margin-bottom:0; background-color:white; width:1000px; height:100px; text-align:center"><span style="opacity:1">weFlex&trade; </span></p>
	<p style="color:black; font-size:32px; margin:0; background-color:white; width:1000px; height:100px; text-align:center"><span style="opacity:1">Bringing your office home</span></p>
  </div>
  <div class="w3-display-topleft w3-container w3-xlarge">
    <a href="{{url}}"><p><button onclick="document.getElementById('menu').style.display='block'" class="w3-button w3-black">{{url_linktext}}</button></p></a>
    <!--<button href="{{url}}" class="w3-button w3-black">{{url_linktext}}</button></p>-->
	<!--<p><button style="width:700px; height:600px" onclick="document.getElementById('contact').style.display='block'" class="w3-button w3-black">BookedByBit</button></p>-->
  </div>

  <div class="w3-display-middle w3-container w3-xlarge">

  </div>

  


</div>

</body>
</html>

