<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Expensify</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="icon" type="image/png" href="/images/favicon.png" />
</head>

<body>
 <h1 id="bigOne"></h1>
<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAlY08ZLM3nyXNFHo8oH8FMaCHbQ_UBSTQ",
    authDomain: "bookedbybits.firebaseapp.com",
    databaseURL: "https://bookedbybits.firebaseio.com",
    projectId: "bookedbybits",
    storageBucket: "bookedbybits.appspot.com",
    messagingSenderId: "586068157501"
  };
  firebase.initializeApp(config);
   const messaging = firebase.messaging();
  navigator.serviceWorker.register('/static/js/firebase-messaging-sw.js')
  .then((registration) => {
	messaging.useServiceWorker(registration);
	messaging.requestPermission()
	return messaging.getToken();
  })
  .then(function(token){
	console.log(token);
  })
  .catch(function(err){
	console.log('No permission');
  });
  
  messaging.onMessage(function(payload){
	console.log('onMessage: ', payload);
  })

</script>
  
</body>

</html>
